<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <div th:insert="blocks/links-bootstrap"></div>
</head>
<body>
<main>
    <div th:insert="blocks/header"></div>
    <div class="container">
        <h3 class="text-xs-center" th:text="'User: ' + ${user.username}"></h3>
        <form method="post" class="mt-5" enctype="multipart/form-data">  <!-- method="post" данние в базу даних передаются скритно if "get" в url -->
            <input type="text" class="form-control mt-2" name="password" placeholder="Enter password">
            <p style="color: red" th:if="${not #strings.isEmpty(password)}" th:text="${password}"></p>
            <input type="text" class="form-control mt-2" name="newPassword" placeholder="Enter new password">
            <p style="color: red" th:if="${not #strings.isEmpty(newPassword)}" th:text="${newPassword}"></p>
            <input type="text" class="form-control mt-2" name="passwordConfirm" placeholder="Repeat the new password">
            <p style="color: red" th:if="${not #strings.isEmpty(passwordConfirm)}" th:text="${passwordConfirm}"></p>

            <button type="submit" class="btn btn-success mt-2">Save</button>
        </form>
    </div>
</main>
</body>
</html>