<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <div th:insert="blocks/links-bootstrap"></div>
</head>
<body>
<main>
    <div th:insert="blocks/header"></div>
    <div class="d-flex flex-nowrap">
        <ul class="container">
            <div class="panel blog-container">
                <div th:object="${schedule}" class="panel-body">
                    <div class="d-flex justify-content-center p-4">
                        <h2 th:text="*{film.name}"></h2>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div th:if="*{film.photo != null}">
                            <img width="500px" th:src="'/img/' + *{film.photo}">
                        </div>
                        <div class="p-5" >
                            <p class="p-2" th:text="'Cinema: ' + *{hall.cinema.name}"></p>
                            <p class="p-2" th:text="'Hall: ' + *{hall.number}"></p>
                            <p class="p-2" th:text="'Date: ' + *{#dates.format(date, 'yyyy-MM-dd')}"></p>
                            <p class="p-2" th:text="'Time: ' + *{time}"></p>
                            <p class="p-2" th:text="'Price: ' + *{price}"></p>
                            <a th:href="'/user/schedules/' + *{id} + '/info'" class="btn btn-success">Сonfirm order</a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    </div>
</main>
</body>
</html>