<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit film</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/adminSidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Edit film</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <form method="post" th:object="${film}" class="mt-5" enctype="multipart/form-data">  <!-- method="post" данние в базу даних передаются скритно if "get" в url -->

                <input type="text" th:value="*{name}" name="name" placeholder="Enter name" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                <textarea name="description" placeholder="Enter description" class="form-control mt-2" th:text="*{description}"/>
                <p style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>

                <input type="file" th:value="*{photo}" name="file" placeholder="Chose photo" class="form-control mt-2">

                <input type="text" th:value="*{time}" name="time" placeholder="Enter time" class="form-control mt-2">
                <p style="color: red" th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></p>
                <p style="color: red" th:if="${not #strings.isEmpty(timeValidation)}" th:text="${timeValidation}"></p>

                <input type="text" th:value="*{link}" name="link" placeholder="Enter youtube link" class="form-control mt-2">
                <p style="color: red" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></p>

                <div class="d-flex flex-nowrap">
                    <p class="m-2">Movie release date:</p>
                    <input type="date" th:value="${date}" class="form-control mt-2" name="movieRelease" placeholder="Choose birthday">
                </div>
                <p style="color: red" th:text="${dateValidation}" th:if="${not #strings.isEmpty(dateValidation)}"></p>

                <br><br>
                <h4>SEO:</h4>

                <input type="text" th:value="*{urlSEO}" name="urlSEO" placeholder="Enter SEO url" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('urlSEO')}" th:errors="*{urlSEO}"></p>

                <input type="text" th:value="*{titleSEO}" name="titleSEO" placeholder="Enter SEO title" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('titleSEO')}" th:errors="*{titleSEO}"></p>

                <input type="text" th:value="*{keywordsSEO}" name="keywordsSEO" placeholder="Enter SEO keywords" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('keywordsSEO')}" th:errors="*{keywordsSEO}"></p>

                <textarea name="descriptionSEO" placeholder="Enter SEO description" class="form-control mt-2" th:text="*{descriptionSEO}" />
                <p style="color: red" th:if="${#fields.hasErrors('descriptionSEO')}" th:errors="*{descriptionSEO}"></p>

                <div class="d-flex flex-nowrap mt-2">
                    <p class="m-1">Active:</p>
                    <div class="form-check form-switch m-1">
                        <input type="checkbox" th:checked="*{active}" name="active" class="form-check-input" role="switch">
                    </div>
                </div>

                <button type="submit" class="btn btn-success mt-2">Update</button>     <!--submit при нажатии на кнопку страница будет перезагружатся и данние будут отправленние на сервер-->
            </form>
        </section>
    </div>
</div>

<div th:replace="blocks/scriptAdminLTE"></div>

</main>
</body>
</html>