<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text = "${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <div th:insert="blocks/links-bootstrap"></div>
    <link rel="stylesheet" href="bootstrap_min.css">
</head>
<body>
<main>
    <div th:insert="blocks/header"></div>
    <div class="d-flex flex-nowrap">
        <div th:insert="blocks/slidebar"></div>
        <div class="container">
            <h3 class="text-xs-center">Edit film</h3>
            <form method="post" th:object="${film}" class="mt-5" enctype="multipart/form-data">  <!-- method="post" данние в базу даних передаются скритно if "get" в url -->

                <input type="text" th:value="*{name}" name="name" placeholder="Enter name" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                <textarea name="description" placeholder="Enter description" class="form-control mt-2" th:text="*{description}"/>
                <p style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>

                <input type="file" th:value="*{photo}" name="file" placeholder="Chose photo" class="form-control mt-2">

                <input type="text" th:value="*{time}" name="time" placeholder="Enter time" class="form-control mt-2">
                <p style="color: red" th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></p>
                <p style="color: red" th:if="${not #strings.isEmpty(timeValidation)}" th:text="${timeValidation}"></p>

                <input type="text" th:value="*{link}" name="link" placeholder="Enter youtube link" class="form-control mt-2">
                <p style="color: red" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></p>

                <div class="d-flex flex-nowrap">
                    <p class="m-2">Movie release date:</p>
                    <input type="date" th:value="${date}" class="form-control mt-2" name="movieRelease" placeholder="Choose birthday">
                </div>
                <p style="color: red" th:text="${dateValidation}" th:if="${not #strings.isEmpty(dateValidation)}"></p>

                <div class="d-flex flex-nowrap mt-2">
                    <p class="m-1">Active:</p>
                    <div class="form-check form-switch m-1">
                        <input type="checkbox" th:checked="*{active}" name="active" class="form-check-input" role="switch">
                    </div>
                </div>

                <button type="submit" class="btn btn-success mt-2">Update</button>     <!--submit при нажатии на кнопку страница будет перезагружатся и данние будут отправленние на сервер-->
            </form>
        </div>
    </div>
</main>
</body>
</html>