<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add schedule</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/adminSidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Add schedule</h1>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <form method="post" th:object="${schedule}" class="mt-5" enctype="multipart/form-data">  <!-- method="post" данние в базу даних передаются скритно if "get" в url -->

                <p style="color: red" th:if="${not #strings.isEmpty(msg)}" th:text="${msg}"></p>
                <select id="film" class="form-select form-select-lg mb-3  mt-2" aria-label=".form-select-lg example" name="film" >
                    <option value="" disabled selected>Choose the film</option>
                    <option th:selected="*{film!=null} ? (*{film.id} == ${el.id})" th:each="el : ${films}" th:value="${el.id}" th:text="${el.name}"></option>
                </select>

                <select id="cinema" class="form-select form-select-lg mb-3  mt-2" aria-label=".form-select-lg example" name="cinema" >
                    <option value="" disabled selected>Choose the cinema</option>
                    <option th:selected="${cinema!=null} ? (${cinema.id} == ${el.id})" th:each="el : ${cinemas}" th:value="${el.id}" th:text="${el.name}"></option>
                </select>

                <select id="hall" class="form-select form-select-lg mb-3  mt-2" aria-label=".form-select-lg example" name="hall" >
                    <option value="" disabled selected>Choose the hall</option>
                    <option th:selected="*{hall!=null} ? (*{hall.id} == ${el.id})" th:each="el : ${halls}" th:value="${el.id}" th:text="${el.number}"></option>
                </select>

                <div class="d-flex flex-nowrap mb-3  mt-2">
                    <label>Date:</label>
                    <input type="date" th:value="${date}" class="form-control" name="date">
                </div>

                <div class="d-flex flex-nowrap mb-3  mt-2">
                    <label>Time:</label>
                    <input type="time" th:value="*{time}" class="form-control" name="time">
                </div>

                <input type="text" th:value="${price}" name="priceString" placeholder="Enter price" class="form-control mt-2" >

                <button type="submit" class="btn btn-success mt-2">Add</button>     <!--submit при нажатии на кнопку страница будет перезагружатся и данние будут отправленние на сервер-->
            </form>
        </section>
    </div>
</div>
</main>

<script>
    $(document).ready(function(){
        $('#cinema').on('change', function(){
            $.get(                              // getMapping, парамтери, функція
                "/admin/schedules/getHalls",  // Mapping контроллера
                {cinema: $('#cinema').val()}, // параметр який надсилається на контроллер
                function(data){
                    data = JSON.parse(data);    // переробляєм JSON в обэкти
                    $("#hall").empty();  // очистить select з імям cinema
                    $("#hall").append($("<option value='' disabled selected>Choose the hall</option>"));
                    data.forEach((hall) =>{       // можна використовувати element, index
                        $("#hall").append($("<option value='" + hall.id + "'>" + hall.number + "</option>"));
                    })
                })
        })
    })
</script>

<div th:insert="blocks/scriptAdminLte"></div>

</body>
</html>