<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schedules list</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/adminSidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Schedules list</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <a href="/admin/schedules/add" class="btn btn-success">Add</a>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Film</th>
                    <th scope="col">Cinema</th>
                    <th scope="col">Hall</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Price</th>
                    <th scope="col">Active</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <div th:each="el : ${schedules}">
                    <tbody>
                    <tr>
                        <td>
                            <p th:text="${el.film.name}"></p>
                        </td>
                        <td>
                            <p th:text="${el.hall.cinema.name}"></p>
                        </td>
                        <td>
                            <p th:text="${el.hall.number}"></p>
                        </td>
                        <td>
                            <p th:text="${#dates.format(el.date, 'yyyy-MM-dd')}"></p>
                        </td>
                        <td>
                            <p th:text="${el.time}"></p>
                        </td>
                        <td>
                            <p th:text="${el.price}"></p>
                        </td>
                        <td>
                            <p th:text="${el.active}"></p>
                        </td>
                        <td>
                            <a th:href="'/admin/schedules/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <form th:action="'/admin/schedules/' + ${el.id} + '/remove'" metod="post">   <!-- method="post" данние в базу даних передаются скритно if "get" в url -->
                                <button class="btn btn-warning" type="submit" >Delete</button>        <!--submit при нажатии на кнопку страница будет перезагружатся -->
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </div>
            </table>

            <ul th:if="${schedules.isEmpty() == false}" class="pagination" >
                <li class="page-item">
                    <a class="page-link" th:height="100px" th:if="${currentPage > 1}" th:href="@{/admin/schedules/1}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/schedules/' + ${currentPage - 1}}">Previous</a>
                </li>
                <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{'/admin/schedules/' + ${i}}">[[${i}]]</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/schedules/' + ${currentPage + 1}}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/schedules/' + ${totalPages}}">Last</a>
                </li>
            </ul>
        </section>
    </div>
</div>

<div th:replace="blocks/scriptAdminLTE"></div>

</main>
</body>
</html>