<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add contact</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/adminSidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Add contact</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <form method="post" th:object="${contact}" class="mt-5" enctype="multipart/form-data">  <!-- method="post" данние в базу даних передаются скритно if "get" в url -->

                <p style="color: red" th:if="${not #strings.isEmpty(msg)}" th:text="${msg}"></p>

                <select id="city" class="form-select form-select-lg mb-3  mt-2" aria-label=".form-select-lg example" name="city" >
                    <option value="" disabled selected>Choose the city</option>
                    <option th:selected="*{city!=null} ? (*{city.name} == ${el.name})" th:each="el : ${cities}" th:value="${el.id}" th:text="${el.name}"></option>
                </select>

                <select id="cinema" class="form-select form-select-lg mb-3  mt-2" aria-label=".form-select-lg example" name="cinema" >
                    <option value="" disabled selected>Choose the cinema</option>
                    <option th:selected="*{cinema!=null} ? (*{cinema.name} == ${el.name})" th:each="el : ${cinemas}" th:value="${el.id}" th:text="${el.name}"></option>
                </select>

                <input type="text" th:value="*{address}" name="address" placeholder="Enter address" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>

                <br><br>
                <h4>SEO:</h4>

                <input type="text" th:value="*{urlSEO}" name="urlSEO" placeholder="Enter SEO url" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('urlSEO')}" th:errors="*{urlSEO}"></p>

                <input type="text" th:value="*{titleSEO}" name="titleSEO" placeholder="Enter SEO title" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('titleSEO')}" th:errors="*{titleSEO}"></p>

                <input type="text" th:value="*{keywordsSEO}" name="keywordsSEO" placeholder="Enter SEO keywords" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('keywordsSEO')}" th:errors="*{keywordsSEO}"></p>

                <textarea name="descriptionSEO" placeholder="Enter SEO description" class="form-control mt-2" th:text="*{descriptionSEO}" />
                <p style="color: red" th:if="${#fields.hasErrors('descriptionSEO')}" th:errors="*{descriptionSEO}"></p>

                <button type="submit" class="btn btn-success mt-2">Add</button>     <!--submit при нажатии на кнопку страница будет перезагружатся и данние будут отправленние на сервер-->
            </form>
        </section>
    </div>
</div>
</main>

<script>
    $(document).ready(function(){
        $('#city').on('change', function(){
            $.get(                              // getMapping, парамтери, функція
                "/admin/contacts/getCinemas",  // Mapping контроллера
                {city: $('#city').val()}, // параметр який надсилається на контроллер
                function(data){
                    data = JSON.parse(data);    // переробляєм JSON в обэкти
                    $("#cinema").empty();  // очистить select з імям cinema
                    $("#cinema").append($("<option value='' disabled selected>Choose the cinema</option>"));
                    data.forEach((cinema) =>{       // можна використовувати element, index
                        $("#cinema").append($("<option value='" + cinema.id + "'>" + cinema.name + "</option>"));
                    })
                })
        })
    })
</script>

<div th:replace="blocks/scriptAdminLTE"></div>

</body>
</html>