<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit main page</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/adminSidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Special offers list</h1>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <a href="/admin/specialOffers/add" class="btn btn-success">Add</a>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Active</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <div th:each="el : ${specialOffers}">
                    <tbody>
                    <tr>
                        <td>
                            <p th:text="${el.name}"></p>
                        </td>
                        <td>
                            <p th:text="${#dates.format(el.date, 'dd-MMM-yyyy')}"></p>
                        </td>
                        <td>
                            <p th:text="${el.active}"></p>
                        </td>
                        <td>
                            <a th:href="'/admin/specialOffers/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <form th:action="'/admin/specialOffers/' + ${el.id} + '/remove'" metod="post">   <!-- method="post" данние в базу даних передаются скритно if "get" в url -->
                                <button class="btn btn-warning" type="submit" >Delete</button>        <!--submit при нажатии на кнопку страница будет перезагружатся -->
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </div>
            </table>
            <ul th:if="${specialOffers.isEmpty() == false}" class="pagination" >
                <li class="page-item">
                    <a class="page-link" th:height="100px" th:if="${currentPage > 1}" th:href="@{/admin/specialOffers/1}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/specialOffers/' + ${currentPage - 1}}">Previous</a>
                </li>
                <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{'/admin/specialOffers/' + ${i}}">[[${i}]]</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/specialOffers/' + ${currentPage + 1}}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/specialOffers/' + ${totalPages}}">Last</a>
                </li>
            </ul>
        </section>
    </div>
</div>

<div th:insert="blocks/scriptAdminLte"></div>

</main>
</body>
</html>