 <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
<!--                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#Movies-collapse" aria-expanded="true">-->
                <a href="/admin/films" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                    Films
                </a>
            </li>
            <li class="mb-1">
                <a href="/admin/cinemas" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                    Cinemas
                </a>
            </li>
            <li class="mb-1">
                <a href="/admin/schedules" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                    Schedules
                </a>
            </li>
            <li class="mb-1">
                <a href="/admin/news" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                    News
                </a>
            </li>
            <li class="mb-1">
                <a href="/admin/specialOffers" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                    Special offer
                </a>
            </li>
            <li class="mb-1">
                <a href="/admin/pages" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                    Pages
                </a>
            </li>
            <li class="mb-1">
                <a href="/admin/users" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                    Users
                </a>
            </li>
            <li class="mb-1">
                <a href="/admin/cities" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                    Cities
                </a>
            </li>
            <li class="mb-1">
                <a href="/admin/mailing" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
                    Mailing
                </a>
            </li>
        </ul>
    </div>

    <div class="b-example-divider b-example-vr"></div>
