<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add cinema</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/adminSidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Add cinema</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <form method="post" th:object="${cinema}" class="mt-5" enctype="multipart/form-data">  <!-- method="post" данние в базу даних передаются скритно if "get" в url -->

                <input type="text" th:value="*{name}" name="name" placeholder="Enter name" class="form-control mt-2">
                <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                <textarea th:text="*{description}" name="description" placeholder="Enter description" class="form-control mt-2"></textarea>
                <p style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>

                <input type="file" name="file" placeholder="Chose logo" class="form-control mt-2">

                <select class="form-select form-select-lg mb-3  mt-2" aria-label=".form-select-lg example" name="city" >
                    <option value="" disabled selected>Choose the city</option>
                    <option th:selected="*{city != null} ? (*{city.name} == ${el.name})" th:each="el : ${cities}" th:value="${el.id}" th:text="${el.name}"></option>
                </select>
                <p style="color: red" th:if="${not #strings.isEmpty(cityValidation)}" th:text="${cityValidation}"></p>

                <br><br>
                <h4>SEO:</h4>

                <input type="text" th:value="*{urlSEO}" name="urlSEO" placeholder="Enter SEO url" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('urlSEO')}" th:errors="*{urlSEO}"></p>

                <input type="text" th:value="*{titleSEO}" name="titleSEO" placeholder="Enter SEO title" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('titleSEO')}" th:errors="*{titleSEO}"></p>

                <input type="text" th:value="*{keywordsSEO}" name="keywordsSEO" placeholder="Enter SEO keywords" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('keywordsSEO')}" th:errors="*{keywordsSEO}"></p>

                <textarea name="descriptionSEO" placeholder="Enter SEO description" class="form-control mt-2" th:text="*{descriptionSEO}" />
                <p style="color: red" th:if="${#fields.hasErrors('descriptionSEO')}" th:errors="*{descriptionSEO}"></p>

                <button type="submit" class="btn btn-success mt-2">Add</button>     <!--submit при нажатии на кнопку страница будет перезагружатся и данние будут отправленние на сервер-->
            </form>
        </section>
    </div>
</div>

<div th:replace="blocks/scriptAdminLTE"></div>

</main>
</body>
</html>