<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit cinema</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links-bootstrap"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="blocks/adminSidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Edit cinema</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <form method="post" th:object="${cinema}" class="mt-5" enctype="multipart/form-data">  <!-- method="post" данние в базу даних передаются скритно if "get" в url -->

                <input type="text" th:value="*{name}" name="name" placeholder="Enter name" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                <textarea name="description" placeholder="Enter description" class="form-control mt-2" th:text="*{description}"/>
                <p style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>

                <input type="file" th:value="*{logo}" name="file" placeholder="Chose photo" class="form-control mt-2">

                <select class="form-select form-select-lg mb-3  mt-2" aria-label=".form-select-lg example" name="city" >
                    <option value="" disabled selected>Choose the city</option>
                    <option th:selected="*{city != null} ? (*{city.name} == ${el.name})" th:each="el : ${cities}" th:value="${el.id}" th:text="${el.name}"></option>
                </select>
                <p style="color: red" th:if="${not #strings.isEmpty(cityValidation)}" th:text="${cityValidation}"></p>

                <br><br>
                <h4>SEO:</h4>

                <input type="text" th:value="*{urlSEO}" name="urlSEO" placeholder="Enter SEO url" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('urlSEO')}" th:errors="*{urlSEO}"></p>

                <input type="text" th:value="*{titleSEO}" name="titleSEO" placeholder="Enter SEO title" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('titleSEO')}" th:errors="*{titleSEO}"></p>

                <input type="text" th:value="*{keywordsSEO}" name="keywordsSEO" placeholder="Enter SEO keywords" class="form-control mt-2" >
                <p style="color: red" th:if="${#fields.hasErrors('keywordsSEO')}" th:errors="*{keywordsSEO}"></p>

                <textarea name="descriptionSEO" placeholder="Enter SEO description" class="form-control mt-2" th:text="*{descriptionSEO}" />
                <p style="color: red" th:if="${#fields.hasErrors('descriptionSEO')}" th:errors="*{descriptionSEO}"></p>

                <div class="d-flex flex-nowrap mt-2">
                    <p class="m-1">Active:</p>
                    <div class="form-check form-switch m-1">
                        <input type="checkbox" th:checked="*{active}" name="active" class="form-check-input" role="switch">
                    </div>
                </div>

                <button type="submit" class="btn btn-success mt-2">Update</button>     <!--submit при нажатии на кнопку страница будет перезагружатся и данние будут отправленние на сервер-->
            </form>
            <br><br>
            <ul class="container">
                <a th:href="'/admin/cinemas/' + ${cinema.id} + '/add'" class="btn btn-success">Add</a>
                <h3 class="text-xs-center">Halls list</h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Active</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <div th:each="el : ${halls}">
                        <tbody>
                        <tr>
                            <td>
                                <p th:text="${el.number}"></p>
                            </td>
                            <td>
                                <p th:text="${el.active}"></p>
                            </td>
                            <td>
                                <a th:href="'/admin/cinemas/' + ${cinema.id} + '/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a>
                            </td>
                            <td>
                                <form th:action="'/admin/cinemas/' + ${cinema.id} + '/' + ${el.id} + '/remove'" metod="post">   <!-- method="post" данние в базу даних передаются скритно if "get" в url -->
                                    <button class="btn btn-warning" type="submit" >Delete</button>        <!--submit при нажатии на кнопку страница будет перезагружатся -->
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </div>
                </table>
                <div th:if="${cinema.halls != null}">
                    <ul th:if="${cinema.halls.isEmpty() == false}" class="pagination" >
                        <li class="page-item">
                            <a class="page-link" th:height="100px" th:if="${currentPage > 1}" th:href="@{'/admin/cinemas/' + ${cinema.id} + '/edit/1'}">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/cinemas/' + ${cinema.id} + '/edit/' + ${currentPage - 1}}">Previous</a>
                        </li>
                        <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" th:href="@{'/admin/cinemas/' + ${cinema.id} + '/edit/' + ${i}}">[[${i}]]</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/cinemas/' + ${cinema.id} + '/edit/' + ${currentPage + 1}}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/cinemas/' + ${cinema.id} + '/edit/' + ${totalPages}}">Last</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </section>
    </div>
</div>

<div th:replace="blocks/scriptAdminLTE"></div>

</main>
</body>
</html>